{% extends 'base.html.twig' %}

{% block title %}Forgot your password ?{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('html/forgotpassword.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block body %}
<div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== --> 
       <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row text-center box">
                <div class="col-lg-7 col-md-5 modal-bg-img style" style="">
                </div>
                    <div class="col-lg-5 col-md-7 bg-white">
                        <div class="p-3">
                        {{ form_start(PasswordForm) }}
                            <img src="assets/images/big/Directe.png" alt="wrapkit">
                            <h2 class="mt-3 text-center sign-up">Change password</h2>
                                <div class="row">  
                                        <div class="col-lg-12 password">
                                            {{ form_row(PasswordForm.plainPassword, {
                                                'attr': {'class': 'form-group '}, 
                                            }) }}
                                        </div>
                                        <div class="col-lg-12 text-center">
                                            <button type="submit" class="btn btn-block btn-dark" href="{{ path('app_changepassword') }}">Sign Up</button>
                                        </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
</div>
    {{ form_end(PasswordForm) }}
    </div>
    <script>
        $(".preloader ").fadeOut();
    </script>
{% endblock %}
