{% block body %}
    <div class="table-responsive">
        <table class="table">
            <tbody> 
                <tr>
                    <th id="t">Class</th>
                    <th id="t">Surname</th>
                    <th id="t">Name</th>
                    <th id="t">mail</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td id="th5"><a href="{{ path('app_moyenne', { ClasseName: user.classe.ClasseName}) }}">{{ user.classe.classeName }}</a></td>
                        <td id="th1">{{ user.surname }}</td>
                        <td id="th2">{{ user.username }}</td>
                        <td id="th5">{{ user.mail }}</td> 
                    </tr>
                {% endfor %}
            </tbody>   
        </table>
    </div>
{% endblock %}
