{% block body %}
            <div class="table-responsive">
                <table class="table">
                    <tbody> 
                        <th id="t">Class</th>
                        <th id="t">Surname</th>
                        <th id="t">Name</th>
                        <th id="t">mail</th>
                    {% for user in users %}
                        <tr>
                            <td id="th5">{{ user.classe.classeName }}</td>
                            <td id="th1">{{ user.surname }}</td>
                            <td id="th2"> <a href="{{ path('app_eleve') }}">{{ user.username }}</td>
                            <td id="th5">{{ user.mail }}</td> 
                        </tr>
                        {% endfor %}
                    </tbody>   
                </table>
            </div>
{% endblock %}
    