{% block stylesheets %}
    <link href="{{ asset('html/post.css') }}" rel="stylesheet" /> 
{% endblock %}
    <div class="table-responsive">
        <table class="table">
            <tbody> 
                        <th id="t">Surname</th>
                        <th id="t">Name</th>
                        <th id="t">Subject</th>
                        <th id="t">Grade</th>
                        <th id="t">coefficient</th>
                {% for note_controle in note_controles %}
                    <tr>
                        <td id="th1">{{ note_controle.user.surname }}</td>
                        <td id="th2"> <a href="{{ path('app_eleve') }}">{{ note_controle.user.username }}</td>
                        <td id="th3">{{ note_controle.matiere.libelle}}</td>
                        <td id="th4">{{ note_controle.note}}</td>
                        <td id="th5">{{ note_controle.coefficient}}</td>
                    </tr>
                {% endfor %}
            </tbody>   
        </table>
    </div>
<div class="col-lg-12 text-center mt-5">
    <a href="{{ path('app_note') }}" class="text-danger add">Add a Grade</a>
</div>