{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }} !{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('html/eleve.css') }}" rel="stylesheet" /> 
{% endblock %}
    
{% block body %}
    {% include "menu/sidebar_index.html.twig" %}
    {% include "menu/navbar_index.html.twig" %}
<div class="row">
   <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ eleve.username }} {{ eleve.surname }} - Students Averages Details</h4>
                    <div class="table-responsive">
                        <table id="default_order" class="table table-striped table-bordered display no-wrap"
                         style="width:100%">
                        <thead>
                        <tr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th id="th" scope="col">Average per Topic</th>  
                                </tr>
                            </thead>
                            <tbody>
                                {% for matiere, moyenne in moyennesByMatiere %}
                                    <tr>
                                        <td>{{ moyenne.libelle }}</td>
                                        <td>{{ moyenne.moyenne }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}