{% extends 'base.html.twig' %}

{% block title %}Register ! {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('html/register.css') }}" rel="stylesheet" /> 
{% endblock %}
{% block body %}
<div class="main-wrapper">
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center position-relative"
            style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box row text-center">
                <div class="col-lg-7 col-md-5 modal-bg-img style" style="">
                </div>
                <div class="col-lg-5 col-md-7 bg-white">
                    <div class="p-3">
                    {{ form_start(registrationForm) }}
                        <img src="assets/images/favicon.png" alt="logo secondaire">
                        <img src="assets/images/big/logo03.png" alt="logo école indirecte">
                        <h2 class="mt-3 text-center sign-up">Sign Up</h2>
                            <div class="row">
                                <div class="col-lg-12 username">  
                                        {{ form_row(registrationForm.username, {
                                            'attr': {'placeholder': 'username', 'class': 'form-control'}, 
                                         }) }}
                                </div>
                                <div class="col-lg-12 surname">
                                        {{ form_row(registrationForm.surname, {
                                            'attr': {'placeholder': 'surname', 'class': 'form-control'}, 
                                         }) }}
                                </div>
                                <div class="col-lg-12">  
                                        {{ form_row(registrationForm.pseudo, {
                                            'attr': {'placeholder': 'pseudonyme', 'class': 'form-control'}, 
                                         }) }}
                                </div>
                                <div class="col-lg-12 password">
                                        {{ form_row(registrationForm.plainPassword, {
                                            'attr': {'class': 'form-control'}, 
                                         }) }}
                                </div>
                                <div class="col-lg-12">
                                        {{ form_row(registrationForm.mail, {
                                            'attr': {'placeholder': 'Jane.Smith@gmail.com', 'class': 'form-control'}, 
                                         }) }}
                                </div>
                                <div class="col-lg-12 text-center">
                                    <button type="submit" class="btn btn-block btn-dark">Sign Up</button>
                                </div>
                                <div class="col-lg-12 text-center mt-5">
                                    Already have an account? <a href="{{ path('app_login') }}" class="text-danger">Sign In</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    {{ form_end(registrationForm) }}
    <script>
        $(".preloader ").fadeOut();
    </script>
{% endblock %}
